---
import { Icon } from "astro-icon"

interface Props {
  icon: string
  link: string
}
const { icon, link } = Astro.props
---

<a target="_blank" href={link}>
  <Icon class="icon" name={icon} />
</a>

<style lang="scss">
  @import "../styles/global";

  @mixin scale-icon($name, $internal-color) {
    animation: #{$name}-out 0.3s ease-in-out;
    @keyframes #{$name}-out {
      from {
        transform: scale(1.15);
        color: white;
      }
    }

    &:hover {
      animation: #{$name}-in 0.3s ease-in-out;
      animation-fill-mode: forwards;
      @keyframes #{$name}-in {
        to {
          color: $internal-color;
          transform: scale(1.15);
        }
      }
    }
  }

  .icon {
    padding-left: 10px;
    height: 24px;
    width: 24px;
    color: #b9b9b9;
    @include scale-icon("icon", white);
  }
</style>
